<!--
 * Title: user-view.component.html
 * Modified By: Michael Christman, Zahava Gopin & Jennifer Hoitenga
 * Author: Professor Krasso
 * Date: 11/20/2023
 * Sources:
 * BCRS Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/bcrs
-->

<div class="container">
  <h3 class="text-center">Update User</h3>
  <h6 class="text-center">* All fields are required</h6>
  <!-- Display error message -->
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <!-- Success Message -->
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>

  <!-- User update form -->
  <form
    class="formStyle mb-5"
    [formGroup]="form"
    (ngSubmit)="saveUser(); form.reset()"
    (keydown.enter)="$event.preventDefault()"
  >
    <!-- First Name Field -->
    <div class="mb-3 mt-2">
      <label for="firstName" class="form-label">First Name *</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="firstName"
        [class.is-invalid]="
          form.controls['firstName'].invalid &&
          form.controls['firstName'].touched
        "
      />

      <!-- Display validation error message for required field -->
      <div
        class="invalid-feedback"
        *ngIf="
          form.controls['firstName'].hasError('required') &&
          form.controls['firstName'].touched
        "
      >
        First name is required.
      </div>
    </div>

    <!-- Last Name Field -->
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name *</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="lastName"
        [class.is-invalid]="
          form.controls['lastName'].invalid && form.controls['lastName'].touched
        "
      />

      <!-- Display validation error message for required field -->
      <div
        class="invalid-feedback"
        *ngIf="
          form.controls['lastName'].hasError('required') &&
          form.controls['lastName'].touched
        "
      >
        Last name is required.
      </div>
    </div>

    <!-- Phone Number Field -->
    <div class="mb-3">
      <label for="phoneNumber" class="form-label">Phone Number *</label>
      <input
        type="text"
        class="form-control"
        id="phoneNumber"
        formControlName="phoneNumber"
        [class.is-invalid]="
          form.controls['phoneNumber'].invalid &&
          form.controls['phoneNumber'].touched
        "
      />

      <!-- Display validation error message for required field -->
      <div
        class="invalid-feedback"
        *ngIf="
          form.controls['phoneNumber'].hasError('required') &&
          form.controls['phoneNumber'].touched
        "
      >
        Phone number is required.
      </div>
    </div>

    <!-- Address Field -->
    <div class="mb-3">
      <label for="address" class="form-label">Address *</label>
      <textarea
        class="form-control"
        id="address"
        formControlName="address"
        [class.is-invalid]="
          form.controls['address'].invalid && form.controls['address'].touched
        "
      ></textarea>

      <div
        class="invalid-feedback"
        *ngIf="
          form.controls['address'].hasError('required') &&
          form.controls['address'].touched
        "
      >
        Address is required.
      </div>
    </div>

    <!-- Email Address Field -->
    <div class="mb-3">
      <label for="email" class="form-label">Email Address *</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        [class.is-invalid]="
          form.controls['email'].invalid && form.controls['email'].touched
        "
      />

      <!-- Display validation error message for required field -->
      <div
        class="invalid-feedback"
        *ngIf="
          form.controls['email'].hasError('required') &&
          form.controls['email'].touched
        "
      >
        Email address is required.
      </div>
      <!-- Display validation error message for invalid email format -->
      <div
        class="invalid-feedback"
        *ngIf="
          form.controls['email'].hasError('email') &&
          form.controls['email'].touched
        "
      >
        Enter a valid email address.
      </div>
    </div>

    <!-- Role Selection Field -->
    <div class="d-md-flex gap-3">
      <div class="mb-3">
        <label for="role" class="form-label">Role *</label>
        <select class="form-control" id="role" formControlName="role" required>
          <option value="standard">Standard</option>
          <option value="admin">Admin</option>
        </select>

        <!-- Display validation error message for required field -->
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['role'].hasError('required') &&
            form.controls['role'].touched
          "
        >
          Role is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="status" class="form-label">Status *</label>
        <select
          class="form-control"
          id="isDisabled"
          formControlName="isDisabled"
          required
        >
          <option [ngValue]="false">Active</option>
          <option [ngValue]="true">Inactive</option>
        </select>

        <!-- Display validation error message for required field -->
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['isDisabled'].hasError('required') &&
            form.controls['isDisabled'].touched
          "
        >
          Status is required.
        </div>
      </div>
    </div>

    <!-- Form Submission Buttons -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
      <button
        type="submit"
        class="btn btn-mod btn-border btn-circle btn-large"
        [disabled]="!form.valid"
      >
        Submit
      </button>
      <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
