<div class="container py-1 text-center">
  <h3 class="col-lg-9 mx-auto pt-2 pb-5">Frequently Asked Questions</h3>

  <div class="row">
    <div class="col-lg-9 mx-auto pb-5">
      <!-- Accordion -->
      <div id="accordionExample" class="accordion shadow">
        <!-- End -->
        <!-- Accordion item 2 -->
        <div class="card">
          <div id="headingTwo" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <button
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
                class="btn text-dark font-weight-bold collapsible-link"
              >
                How do I register for an account?
              </button>
            </h2>
          </div>
          <div
            id="collapseTwo"
            aria-labelledby="headingTwo"
            data-parent="#accordionExample"
            class="collapse"
          >
            <!-- First Card Body -->
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    To register with us, please select "Register" from the home
                    menu and complete three easy steps.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_register.jpg"
                    alt="Register Navigation"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <hr />
            <!-- Second Card Body -->
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    <b>Step 1:</b>
                    Enter your first name, last name, phone number, address and
                    click Next Step.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_register_pg1.jpg"
                    alt="Step 1"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <hr />
            <!-- Third Card Body -->
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    <b>Step 2:</b> Enter your email address, password, confirm
                    your password and click Next Step.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_register_pg2.jpg"
                    alt="Step 2"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <hr />
            <!-- Fourth Card Body -->
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    <b>Step 3:</b> Select your preferred security questions and
                    enter your answers. Click Create Account.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_register_pg3.jpg"
                    alt="Step 3"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 3 -->
        <div class="card">
          <div
            id="headingThree"
            class="card-header bg-white shadow-sm border-0"
          >
            <h2 class="mb-0">
              <button
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
                class="btn text-dark font-weight-bold collapsible-link"
              >
                How do I reset my password?
              </button>
            </h2>
          </div>
          <div
            id="collapseThree"
            aria-labelledby="headingThree"
            data-parent="#accordionExample"
            class="collapse"
          >
            <!-- First Card Body -->
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    To reset your password, select "Sign In" from the home menu.
                    Click "Forgot Your Password" to begin the password reset
                    process.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_sign-in.jpg"
                    alt="Forgot Password Link"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <hr />
            <!-- Second Card Body -->
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    <b>Step 1:</b>
                    Enter your email address and click Next Step.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_reset_password_step_1.jpg"
                    alt="Enter Email Address"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <hr />
            <!-- Third Card Body -->
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    <b>Step 2:</b>
                    Your security questions will appear. Answer the questions
                    and click Next Page.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_reset_password_step_2.jpg"
                    alt="Answer Security Questions"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <hr />
            <!-- Fourth Card Body -->
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    <b>Step 3:</b>
                    Enter a new password and click Reset Password.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_reset_password_step_3.jpg"
                    alt="Reset Password"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 5 -->
        <div class="card">
          <div id="headingFive" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <button
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
                class="btn text-dark font-weight-bold collapsible-link"
              >
                How do I submit a service repair request?
              </button>
            </h2>
          </div>
          <div
            id="collapseFive"
            aria-labelledby="headingFive"
            data-parent="#accordionExample"
            class="collapse"
          >
            <!-- First Card Body -->
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    To create a service repair request, sign in to your account.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_service_sign_in.png"
                    alt="Sign In"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <hr />
            <!-- Second Card Body -->
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    <b>Step 1:</b>
                    After you sign in you will automatically be redirected to
                    the service page. Fill out the information at the top of the
                    page.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_service_information.png"
                    alt="Customer Information"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <hr />
            <!-- Third Card Body -->
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    <b>Step 2:</b>
                    You will see all of the service options. Select the checkbox
                    of each service that was done for that customer.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_service_select.png"
                    alt="Select Service"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <hr />
            <!-- Fourth Card Body -->
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    <b>Step 3:</b>
                    At the bottom of the page you will see 2 fields, one for
                    Parts Amount and the other for Labor Amount. Fill out the
                    appropriate information and click "Create Invoice".
                    Congrats! You have successfully created a service repair
                    request.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_service_create_invoice.png"
                    alt="Create Invoice"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
        <!-- Accordion item 4 -->
        <div class="card">
          <div id="headingFour" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <button
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
                class="btn text-dark font-weight-bold collapsible-link"
              >
                How do I generate an invoice summary?
              </button>
            </h2>
          </div>
          <div
            id="collapseFour"
            aria-labelledby="headingFour"
            data-parent="#accordionExample"
            class="collapse"
          >
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    After you create a service repair request you will be
                    redirected to an invoice summary.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_invoice.jpg"
                    alt="Invoice Summary"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <hr />
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    Click the "Print Invoice" button to print the invoice.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_invoice_print.jpg"
                    alt="Print Invoice"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
        <!--User Configuration-->
        <div class="card">
          <div id="headingOne" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <button
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
                class="btn text-dark font-weight-bold collapsible-link"
              >
                How do I manage users?
              </button>
            </h2>
          </div>
          <div
            id="collapseOne"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
            class="collapse"
          >
            <!--First card body-->
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    If you are an admin, please navigate to the "User
                    Configuration" page and follow these simple steps.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_user_config_nav.jpg"
                    alt="User Configuration Link"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <hr />
            <!--Second card body-->
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    <b>Add a New User</b><br /><br />
                    <b>Step 1:</b>
                    Click the "Add New User" button on the top right of the user
                    management table.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_user_config_add_new.jpg"
                    alt="Add New User"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <hr />
            <!--Third card body-->
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    <b>Step 2:</b>
                    Complete the form and click CREATE USER. The site will
                    redirect you back to the user configuration page, and you
                    will see the new user listed.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_user_config_add_new_form.jpg"
                    alt="Create User Form"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <hr />
            <!--Fourth card body-->
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    <b>Edit an existing user: </b> To edit a user, just click on
                    the pencil icon to the right of the user and edit the
                    information in the form.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_user_config_edit.jpg"
                    alt="Edit Navigation"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <hr />
            <!--Fifth card body-->
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    <b>Deactivate an existing user: </b>To deactivate the user,
                    click on the garbage can icon to the right of the user name.
                    A dialogue box will appear to confirm the decision to
                    deactivate the user.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_user_config_deactivate.jpg"
                    alt="Deactivate"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End -->

        <!-- Accordion item 6 -->
        <div class="card">
          <div id="headingSix" class="card-header bg-white shadow-sm border-0">
            <h2 class="mb-0">
              <button
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
                class="btn text-dark font-weight-bold collapsible-link"
              >
                How can I review purchases by service?
              </button>
            </h2>
          </div>
          <div
            id="collapseSix"
            aria-labelledby="headingSix"
            data-parent="#accordionExample"
            class="collapse"
          >
            <!-- First Card Body -->
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    If you are an admin, please navigate to the "Purchases By
                    Service" page.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_purchase_by_service.png"
                    alt="Purchases By Service Link"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <hr />
            <!-- Second Card Body -->
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    You will see a pie graph with all the purchases color-coded.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_purchase_by_service_home.png"
                    alt="Purchases By Service Graph"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <hr />
            <!-- Fourth Card Body -->
            <div class="card-body p-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="font-weight-light m-0">
                    If you hover your mouse over a specific part of the pie
                    graph you will see exactly how many of that service was
                    performed.
                  </p>
                </div>
                <div class="col-md-6">
                  <img
                    src="../../assets/faq/faq_purchase_by_service_hover.png"
                    alt="Purchases By Service Hover"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
