<!--
 * Title: service.component.html
 * Author: Michael Christman, Zahava Gopin & Jennifer Hoitenga
 * Date: 12/03/2023
 * Sources:
 * BCRS Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/bcrs
 * Bootstrap: https://getbootstrap.com/docs/5.3/getting-started/introduction/
-->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 my-2">
      <div class="text-center mb-5">
        <h3>Create Service Request</h3>
        <!-- Error message display -->
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <!-- Success message display -->
        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>

        <!-- Service request form -->
        <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
          <div class="row m-4">
            <div class="col-md-2 align-left">
              <div class="mb-3 fw-bold">
                <!-- Input field for order date -->
                <label for="txtOrderDate" class="form-label fw-bold"
                  >Order Date:
                </label>
                <input
                  type="text"
                  id="txtOrderDate"
                  class="form-control"
                  formControlName="orderDate"
                  placeholder="Order Date"
                  required
                />
              </div>
            </div>

            <div class="col-md-5 fw-bold align-left">
              <!-- Input field for customer full name -->
              <label for="txtCustomerFullName" class="form-label fw-bold"
                >Customer's Full Name:</label
              >
              <input
                type="text"
                id="txtCustomerFullName"
                class="form-control"
                formControlName="customerFullName"
                placeholder="Customer's Full Name"
              />
            </div>
            <div class="col-md-5 fw-bold align-left">
              <!-- Input field for customer email -->
              <label for="txtCustomerEmail" class="form-label fw-bold"
                >Customer's Email Address:
              </label>
              <input
                type="text"
                id="txtCustomerEmail"
                class="form-control"
                formControlName="customerEmail"
                placeholder="Customer's Email Address"
              />
            </div>
          </div>

          <!-- Checkbox options for services -->
          <div>
            <div class="col-md-12">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Service Name</th>
                    <th>Service Price</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Loop through services and display in a table -->
                  <tr *ngFor="let service of services">
                    <td>{{ service.name }}</td>
                    <td>{{ service.price | currency }}</td>
                    <td>
                      <!-- Checkbox for selecting services -->
                      <input
                        type="checkbox"
                        class="form-check-input"
                        [formControl]="service.selected"
                        (change)="updateTotal()"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-3 align-left">
              <div class="d-flex">
                <div class="d-md-block">
                  <!-- Input field for parts amount -->
                  <label for="txtPartsAmount" class="form-label fw-bold"
                    >Parts Amount:
                  </label>
                  <input
                    type="number"
                    id="txtPartsAmount"
                    class="form-control"
                    formControlName="partsAmount"
                    placeholder="0"
                    min="0"
                    (click)="updateTotal()"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3 align-left">
              <div class="d-flex">
                <div class="mb-3 fw-bold">
                  <!-- Input field for labor amount -->
                  <label for="txtPartsAmount" class="form-label fw-bold"
                    >Labor Amount ($50/hr):
                  </label>
                  <input
                    type="number"
                    id="txtLaborAmount"
                    class="form-control"
                    formControlName="laborAmount"
                    placeholder="0"
                    min="0"
                    (click)="updateTotal()"
                  />
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="d-flex justify-content-end">
                <!-- Display the calculated total price -->
                <div class="d-md-block">
                  <label for="txtLineItemTotal" class="form-label fw-bold">
                    Line Item Total:
                  </label>

                  <span id="txtLineItemTotal">
                    {{ servicesTotal.toFixed(2) | currency }}</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="d-flex justify-content-end">
                <!-- Display the calculated total price -->
                <div class="d-md-block">
                  <label for="txtInvoiceTotal" class="form-label fw-bold">
                    Invoice Total:
                  </label>

                  <span id="txtInvoiceTotal">
                    {{ totalPrice.toFixed(2) | currency }}</span
                  >
                </div>
              </div>
            </div>
          </div>

          <!-- Submit button for creating the invoice -->
          <button class="btn btn-mod btn-border btn-large mt-2" type="submit">
            Create Invoice
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
