<!--
 * Title: service.component.html
 * Author: Michael Christman, Zahava Gopin & Jennifer Hoitenga
 * Date: 12/03/2023
 * Sources:
 * BCRS Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/bcrs
 * Bootstrap: https://getbootstrap.com/docs/5.3/getting-started/introduction/
-->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 my-2">
      <div class="text-center mb-5">
        <h3>Create Service Request</h3>
        <!-- Error message display -->
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <!-- Success message display -->
        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>

        <!-- Service request form -->
        <form
          [formGroup]="invoiceForm"
          (ngSubmit)="onSubmit(); invoiceForm.reset()"
        >
          <div class="row m-4">
            <div class="col-md-2 align-left">
              <div class="mb-3">
                <!-- Input field for order date -->
                <label for="txtOrderDate" class="form-label fw-bold"
                  >Date:
                </label>
                <input
                  type="date"
                  id="txtOrderDate"
                  class="form-control"
                  formControlName="orderDate"
                  [class.is-invalid]="
                    invoiceForm.controls['orderDate'].invalid &&
                    invoiceForm.controls['orderDate'].touched
                  "
                  placeholder="Order Date"
                  required
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    invoiceForm.controls['orderDate'].hasError('required') &&
                    invoiceForm.controls['orderDate'].touched
                  "
                >
                  Order date is required.
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    invoiceForm.controls['orderDate'].hasError('pattern') &&
                    invoiceForm.controls['orderDate'].touched
                  "
                >
                  Enter
                </div>
              </div>
            </div>

            <div class="col-md-5 mb-3 align-left">
              <!-- Input field for customer full name -->
              <label for="txtCustomerFullName" class="form-label fw-bold"
                >Customer's Full Name:</label
              >
              <input
                type="text"
                id="txtCustomerFullName"
                class="form-control"
                formControlName="customerFullName"
                [class.is-invalid]="
                  invoiceForm.controls['customerFullName'].invalid &&
                  invoiceForm.controls['customerFullName'].touched
                "
                placeholder="Customer's Full Name"
              />

              <div
                class="invalid-feedback"
                *ngIf="
                  invoiceForm.controls['customerFullName'].hasError(
                    'required'
                  ) && invoiceForm.controls['customerFullName'].touched
                "
              >
                Customer's full name is required.
              </div>
            </div>
            <div class="col-md-5 mb-3 align-left">
              <!-- Input field for customer email -->
              <label for="txtCustomerEmail" class="form-label fw-bold"
                >Customer's Email Address:
              </label>
              <input
                type="email"
                id="txtCustomerEmail"
                class="form-control"
                formControlName="customerEmail"
                [class.is-invalid]="
                  invoiceForm.controls['customerEmail'].invalid &&
                  invoiceForm.controls['customerEmail'].touched
                "
                placeholder="Customer's Email Address"
              />

              <div
                class="invalid-feedback"
                *ngIf="
                  invoiceForm.controls['customerEmail'].hasError('required') &&
                  invoiceForm.controls['customerEmail'].touched
                "
              >
                Customer's email address is required.
              </div>
              <div
                class="invalid-feedback"
                *ngIf="
                  invoiceForm.controls['customerEmail'].hasError('email') &&
                  invoiceForm.controls['customerEmail'].touched
                "
              >
                Please enter a valid email address.
              </div>
            </div>
          </div>

          <!-- Checkbox options for services -->
          <div>
            <div class="col-md-12">
              <table class="table table-bordered table-hover table-striped">
                <thead>
                  <tr>
                    <th>Service Name</th>
                    <th>Service Price</th>
                    <th>Select</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Loop through services and display in a table -->
                  <tr *ngFor="let service of services">
                    <td>{{ service.name }}</td>
                    <td>{{ service.price | currency }}</td>
                    <td>
                      <!-- Checkbox for selecting services -->
                      <input
                        type="checkbox"
                        class="form-check-input"
                        [formControl]="service.selected"
                        (change)="updateTotal()"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-3 align-left">
              <div class="d-flex">
                <div class="mb-3">
                  <!-- Input field for parts amount -->
                  <label for="txtPartsAmount" class="form-label fw-bold"
                    >Parts Amount:
                  </label>
                  <input
                    type="number"
                    id="txtPartsAmount"
                    class="form-control"
                    formControlName="partsAmount"
                    placeholder="0"
                    min="0"
                    (click)="updateTotal()"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-3 align-left">
              <div class="d-flex">
                <div class="mb-3">
                  <!-- Input field for labor amount -->
                  <label for="txtLaborAmount" class="form-label fw-bold"
                    >Labor Amount: <span id="hourRate">($50/hr)</span>
                  </label>
                  <input
                    type="number"
                    id="txtLaborAmount"
                    class="form-control"
                    formControlName="laborAmount"
                    placeholder="0"
                    min="0"
                    (click)="updateTotal()"
                  />
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="d-flex justify-content-end">
                <!-- Display the calculated total price -->
                <div class="d-md-block">
                  <label for="txtLineItemTotal" class="form-label fw-bold">
                    Line Item Amount:
                  </label>

                  <span id="txtLineItemTotal">
                    {{ servicesTotal.toFixed(2) | currency }}</span
                  >
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="d-flex justify-content-end">
                    <!-- Display the calculated total price -->

                    <div class="d-md-block">
                      <label for="txtInvoiceTotal" class="form-label fw-bold">
                        Invoice Total:
                      </label>

                      <span id="txtInvoiceTotal">
                        {{ totalPrice.toFixed(2) | currency }}</span
                      >
                    </div>
                  </div>
                </div>
                <!-- Submit button for creating the invoice -->

                <button
                  class="btn btn-mod btn-border btn-large mt-2"
                  type="submit"
                  [disabled]="!invoiceForm.valid"
                >
                  Create Invoice
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
