<!--
 * Title: verify-security-questions.component.html
 * Author: Professor Krasso
 * Modified By: Michael Christman, Zahava Gopin & Jennifer Hoitenga
 * Date: 11/29/2023
 * Sources:
 * BCRS Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/bcrs
 * Bootstrap: https://getbootstrap.com/docs/5.3/getting-started/introduction/
-->

<div class="form-container">
  <div class="container">
    <h3 class="text-center">Reset Password</h3>

    <!-- Display error message -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <!-- Success Message -->
    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>
  </div>

  <form
    id="msform"
    class="mb-5"
    [formGroup]="form"
    (keydown.enter)="$event.preventDefault()"
    (ngSubmit)="verifySecurityQuestions()"
  >
    <!-- Step 2: Verify Email Address -->
    <fieldset>
      <h2 class="fs-title">Verify Security Questions</h2>
      <h3 class="fs-subtitle">Step 2</h3>

      <!-- Security Question 1 -->
      <div class="mb-3">
        <input
          type="text"
          [placeholder]="verifySecurityQuestionsModel.questionText1"
          class="form-control"
          formControlName="answerText1"
          [class.is-invalid]="
            form.controls['answerText1'].invalid &&
            form.controls['answerText1'].touched
          "
        />

        <!-- Display error message for required field -->
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['answerText1'].hasError('required') &&
            form.controls['answerText1'].touched
          "
        >
          Answer is required.
        </div>
      </div>
      <!-- Security Question 2 -->
      <div class="mb-3">
        <input
          type="text"
          [placeholder]="verifySecurityQuestionsModel.questionText2"
          class="form-control"
          formControlName="answerText2"
          [class.is-invalid]="
            form.controls['answerText2'].invalid &&
            form.controls['answerText2'].touched
          "
        />
        <!-- Display error message for required field -->
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['answerText2'].hasError('required') &&
            form.controls['answerText2'].touched
          "
        >
          Answer is required.
        </div>
      </div>
      <!-- Security Question 3 -->
      <div class="mb-3">
        <input
          type="text"
          [placeholder]="verifySecurityQuestionsModel.questionText3"
          class="form-control"
          formControlName="answerText3"
          [class.is-invalid]="
            form.controls['answerText3'].invalid &&
            form.controls['answerText3'].touched
          "
        />
        <!-- Display error message for required field -->
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['answerText3'].hasError('required') &&
            form.controls['answerText3'].touched
          "
        >
          Answer is required.
        </div>
      </div>
      <!-- Submit button for the form -->
      <input
        type="submit"
        [disabled]="!form.valid"
        class="btn btn-mod btn-border btn-circle btn-large"
        value="Next Step"
      />
    </fieldset>
  </form>
</div>
