/*
 * Title: nav.component.css
 * Author: Michael Christman, Zahava Gopin & Jennifer Hoitenga
 * Date: 11/16/2023
 * Sources:
 * BCRS Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/bcrs
 * Bootstrap: https://getbootstrap.com/docs/5.3/getting-started/introduction/
 */

.navbar-nav {
  margin-left: auto;
}

.navbar-brand {
  color: #2a623d;
  font-size: 28px;
  font-weight: 600;
}

.navbar {
  background-color: white;
  color: #2a623d;
  padding: 15px 20px 10px 20px;
  font-size: 24px;
}

.nav-link {
  color: #2a623d;
  font-weight: 600;
}

.nav-link:hover {
  color: #cc9835;
}

.navbar-toggler {
  color: #2a623d;
}

.navbar-toggler .navbar-toggler-icon {
  cursor: pointer;
}

.active .nav-link {
  color: #aaaaaa !important;
}

.btn-mod.btn-large {
  height: auto;
  padding: 2px 6px;
  font-size: 15px;
}

.btn-mod.btn-border {
  color: white;
  border: 2px solid #2a623d;
  background: #2a623d;
  border-radius: 8px;
}

.btn-mod,
a.btn-mod {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 13px;
  color: #fff;
  background: #cc9835;
  border: 2px solid transparent;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
}

.btn-mod.btn-border:hover,
.btn-mod.btn-border:focus {
  color: #2a623d;
  border-color: #2a623d;
  background: #5d5d5d;
}

.btn-mod.btn-border:hover,
.btn-mod.btn-border:focus {
  color: white;
  border-color: #2a623d;
  background: #5d5d5d;
}

#dropdownMenu,
.dropdown-item {
  color: black !important;
}

.navbar .dropdown-menu {
  left: 0;
  right: auto;
  z-index: inherit;
  text-decoration: none;
}

.profileImage {
  font-size: 1.69rem;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item:hover {
  color: black !important;
}

.dropdown-item:hover {
  cursor: pointer;
  background-color: #cc9835 !important;
  color: black !important;
}

.profileName:hover {
  background-color: white !important;
  cursor: default;
}

.navbar .dropdown-menu {
  position: absolute;
  transform: translate3d(-10%, 0, 0);
  right: 0;
  left: auto;
}
