/*
 * Title: auth-layout.component.css
 * Author: Michael Christman, Zahava Gopin & Jennifer Hoitenga
 * Date: 11/28/2023
 * Sources:
 * BCRS Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/bcrs
 * Bootstrap: https://getbootstrap.com/docs/5.3/getting-started/introduction/
 */

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

app-footer {
  flex-shrink: 0;
}
