<!--
 * Title: register.component.html
 * Author: Professor Krasso
 * Modified By: Michael Christman, Zahava Gopin & Jennifer Hoitenga
 * Date: 11/25/2023
 * Sources:
 * BCRS Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/bcrs
 * Bootstrap: https://getbootstrap.com/docs/5.3/getting-started/introduction/
-->
<div class="form-container">
  <div class="container">
    <h3 class="text-center">Register for an Account</h3>
    <h6 class="text-center">* All fields are required</h6>

    <!-- Display error message -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <!-- Success Message -->
    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>
  </div>

  <!-- Multistep form -->
  <form
    id="msform"
    class="mb-5"
    [formGroup]="form"
    (ngSubmit)="onSubmit(); form.reset()"
    (keydown.enter)="$event.preventDefault()"
  >
    <!-- Progress bar -->
    <ul id="progressbar">
      <li [class.active]="currentStep === 1">Personal Information</li>
      <li [class.active]="currentStep === 2">Account Information</li>
      <li [class.active]="currentStep === 3">Security Questions</li>
    </ul>

    <!-- Step 1: Personal Information -->
    <fieldset *ngIf="currentStep === 1">
      <h2 class="fs-title">Personal Information</h2>
      <h3 class="fs-subtitle">Step 1</h3>

      <!-- First Name -->
      <div class="mb-3 form-floating">
        <input
          type="text"
          placeholder="First Name"
          class="form-control"
          id="firstName"
          formControlName="firstName"
          [class.is-invalid]="
            form.controls['firstName'].invalid &&
            form.controls['firstName'].touched
          "
        />
        <label for="firstName" class="form-label">First Name</label>
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['firstName'].hasError('required') &&
            form.controls['firstName'].touched
          "
        >
          First name is required.
        </div>
      </div>

      <!-- Last Name -->
      <div class="mb-3 form-floating">
        <input
          type="text"
          placeholder="Last Name"
          class="form-control"
          id="lastName"
          formControlName="lastName"
          [class.is-invalid]="
            form.controls['lastName'].invalid &&
            form.controls['lastName'].touched
          "
        />
        <label for="lastName" class="form-label">Last Name</label>
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['lastName'].hasError('required') &&
            form.controls['lastName'].touched
          "
        >
          Last name is required.
        </div>
      </div>

      <!-- Phone Number -->
      <div class="mb-3 form-floating">
        <input
          type="text"
          placeholder="Phone Number"
          class="form-control"
          id="phoneNumber"
          formControlName="phoneNumber"
          [class.is-invalid]="
            form.controls['phoneNumber'].invalid &&
            form.controls['phoneNumber'].touched
          "
        />
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['phoneNumber'].hasError('required') &&
            form.controls['phoneNumber'].touched
          "
        >
          Phone number is required.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            (form.controls['phoneNumber'].hasError('pattern') &&
              form.controls['phoneNumber'].touched) ||
            form.controls['phoneNumber'].dirty
          "
        >
          Enter a valid US phone number with area code.
        </div>
      </div>

      <!-- Address -->
      <div class="mb-3 form-floating">
        <textarea
          class="form-control"
          id="address"
          placeholder="Address"
          formControlName="address"
          [class.is-invalid]="
            form.controls['address'].invalid && form.controls['address'].touched
          "
        >
        </textarea>

        <label for="address" class="form-label">Address</label>
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['address'].hasError('required') &&
            form.controls['address'].touched
          "
        >
          Address is required.
        </div>
      </div>
      <input
        type="button"
        (click)="goToNextStep()"
        class="btn btn-mod btn-border btn-circle btn-large"
        value="Next Step >>"
      />
    </fieldset>

    <!-- Step 2: Account Information -->
    <fieldset *ngIf="currentStep === 2">
      <h2 class="fs-title">Account Information</h2>
      <h3 class="fs-subtitle">Step 2</h3>
      <!-- Email Address -->
      <div class="mb-3 form-floating">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email"
          formControlName="email"
          [class.is-invalid]="
            form.controls['email'].invalid && form.controls['email'].touched
          "
        />
        <label for="email" class="form-label">Email</label>
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['email'].hasError('required') &&
            form.controls['email'].touched
          "
        >
          <label for="email" class="form-label">Email</label>
          Email address is required.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['email'].hasError('email') &&
            form.controls['email'].touched
          "
        >
          Enter a valid email address.
        </div>
      </div>

      <!-- Password -->
      <div class="mb-3 form-floating">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          formControlName="password"
          [class.is-invalid]="
            form.controls['password'].invalid &&
            form.controls['password'].touched
          "
        />
        <label for="password" class="form-label">Password</label>
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['password'].hasError('required') &&
            form.controls['password'].touched
          "
        >
          The password is required.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['password'].hasError('pattern') &&
            form.controls['password'].touched
          "
        >
          Password must be at least 8 characters, contain one uppercase letter
          and one number.
        </div>
      </div>
      <!-- Password -->
      <div class="mb-3 form-floating">
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
          [class.is-invalid]="
            form.controls['confirmPassword'].invalid &&
            form.controls['confirmPassword'].touched
          "
        />
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['confirmPassword'].hasError('required') &&
            form.controls['confirmPassword'].touched
          "
        >
          Please confirm your password.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            form.get('confirmPassword')?.hasError('mismatch') &&
            form.get('confirmPassword')?.touched
          "
        >
          The passwords must match.
        </div>
      </div>
      <div class="btn-box">
        <input
          type="button"
          (click)="goToNextStep()"
          class="btn btn-mod btn-border btn-circle btn-large"
          value="Next Step >>"
        />

        <input
          type="button"
          (click)="goToPreviousStep()"
          class="btn btn-mod btn-border btn-circle btn-large previousBtn"
          value="<< Previous Step"
        />
      </div>
    </fieldset>

    <!-- Step 3: Security Questions -->
    <fieldset *ngIf="currentStep === 3">
      <h2 class="fs-title">Security Questions</h2>
      <h3 class="fs-subtitle">Step 3</h3>
      <!-- Security Question 1 Dropdown -->
      <div class="mb-3">
        <select
          class="form-control form-select"
          id="securityQuestion1"
          formControlName="securityQuestion1"
          [class.is-invalid]="
            form.controls['securityQuestion1'].invalid &&
            form.controls['securityQuestion1'].touched
          "
        >
          <option value="" disabled selected hidden>Select Question 1 *</option>

          <option
            *ngFor="
              let q of getFilteredQuestions([
                form.value.securityQuestion2,
                form.value.securityQuestion3
              ])
            "
          >
            {{ q }}
          </option>
        </select>
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['securityQuestion1'].hasError('required') &&
            form.controls['securityQuestion1'].touched
          "
        >
          Security question #1 is required.
        </div>
      </div>
      <!-- Answer Input for Question 1 -->
      <div class="mb-3 form-floating">
        <input
          type="text"
          class="form-control"
          placeholder="Your Answer"
          formControlName="securityAnswer1"
          [class.is-invalid]="
            form.controls['securityAnswer1'].invalid &&
            form.controls['securityAnswer1'].touched
          "
        />
        <label for="securityAnswer1" class="form-label">Answer</label>
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['securityAnswer1'].hasError('required') &&
            form.controls['securityAnswer1'].touched
          "
        >
          Answer is required.
        </div>
      </div>

      <!-- Security Question 2 Dropdown -->
      <div class="mb-3">
        <select
          class="form-control form-select"
          id="securityQuestion2"
          formControlName="securityQuestion2"
          [class.is-invalid]="
            form.controls['securityQuestion2'].invalid &&
            form.controls['securityQuestion2'].touched
          "
        >
          <option value="" disabled selected hidden>Select Question 2 *</option>
          <option
            *ngFor="
              let q of getFilteredQuestions([
                form.value.securityQuestion1,
                form.value.securityQuestion3
              ])
            "
          >
            {{ q }}
          </option>
        </select>
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['securityQuestion2'].hasError('required') &&
            form.controls['securityQuestion2'].touched
          "
        >
          Security question #2 is required.
        </div>
      </div>
      <!-- Answer Input for Question 2 -->
      <div class="mb-3 form-floating">
        <input
          type="text"
          class="form-control"
          placeholder="Your Answer"
          formControlName="securityAnswer2"
          [class.is-invalid]="
            form.controls['securityAnswer2'].invalid &&
            form.controls['securityAnswer2'].touched
          "
        />
        <label for="securityAnswer2" class="form-label">Answer</label>
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['securityAnswer2'].hasError('required') &&
            form.controls['securityAnswer2'].touched
          "
        >
          Answer is required.
        </div>
      </div>

      <!-- Security Question 3 Dropdown -->
      <div class="mb-3">
        <select
          class="form-control form-select"
          id="securityQuestion3"
          formControlName="securityQuestion3"
          [class.is-invalid]="
            form.controls['securityQuestion3'].invalid &&
            form.controls['securityQuestion3'].touched
          "
        >
          <option value="" disabled selected hidden>Select Question 3 *</option>
          <option
            *ngFor="
              let q of getFilteredQuestions([
                form.value.securityQuestion1,
                form.value.securityQuestion2
              ])
            "
          >
            {{ q }}
          </option>
        </select>
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['securityQuestion3'].hasError('required') &&
            form.controls['securityQuestion3'].touched
          "
        >
          Security question #3 is required.
        </div>
      </div>
      <!-- Answer Input for Question 3 -->
      <div class="mb-3 form-floating">
        <input
          type="text"
          class="form-control"
          placeholder="Your Answer"
          formControlName="securityAnswer3"
          [class.is-invalid]="
            form.controls['securityAnswer3'].invalid &&
            form.controls['securityAnswer3'].touched
          "
        />
        <label for="securityAnswer3" class="form-label">Answer</label>
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['securityAnswer3'].hasError('required') &&
            form.controls['securityAnswer3'].touched
          "
        >
          Answer is required.
        </div>
      </div>

      <input
        type="submit"
        class="btn btn-mod btn-border btn-circle btn-large"
        value="Create Account"
        [disabled]="!form.valid"
      />
      <input
        type="button"
        (click)="goToPreviousStep()"
        class="btn btn-mod btn-circle btn-large previousBtn"
        value="<< Previous Step"
      />
    </fieldset>
  </form>
</div>
