<!--
 * Title: verify-email.component.html
 * Author: Professor Krasso
 * Modified By: Michael Christman, Zahava Gopin & Jennifer Hoitenga
 * Date: 11/29/2023
 * Sources:
 * BCRS Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/bcrs
 * Bootstrap: https://getbootstrap.com/docs/5.3/getting-started/introduction/
-->

<div class="form-container">
  <div class="container">
    <h3 class="text-center">Reset Password</h3>
  </div>

  <form
    id="msform"
    class="mb-5"
    [formGroup]="form"
    (ngSubmit)="verifyUser()"
    (keydown.enter)="$event.preventDefault()"
  >
    <!-- Step 1: Verify Email Address -->
    <fieldset *ngIf="currentStep === 1">
      <h2 class="fs-title">Verify Email Address</h2>
      <h3 class="fs-subtitle">Step 1</h3>

      <!-- Email Address -->
      <div class="mb-3 form-floating">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email Address"
          formControlName="email"
          [class.is-invalid]="
            form.controls['email'].invalid && form.controls['email'].touched
          "
        />
        <label for="email">Email Address</label>
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['email'].hasError('required') &&
            form.controls['email'].touched
          "
        >
          Email address is required.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['email'].hasError('email') &&
            form.controls['email'].touched
          "
        >
          Enter a valid email address.
        </div>

        <!-- Display error message -->
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>

        <!-- Success Message -->
        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>
      </div>
      <!-- Submit button for the form -->
      <input
        type="submit"
        [disabled]="!form.valid"
        class="btn btn-mod btn-border btn-circle btn-large"
        value="Next Step >>"
      />
    </fieldset>
  </form>
</div>
