<!--
 * Title: user-list.component.html
 * Modified By: Michael Christman, Zahava Gopin & Jennifer Hoitenga
 * Author: Professor Krasso
 * Date: 11/22/2023
 * Sources:
 * BCRS Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/bcrs
-->

<!-- Display error message -->
<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>

<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <!-- Title -->
          <div class="col-xs-6">
            <h2>User Management</h2>
          </div>

          <!-- Button -->
          <div class="col-xs-6 text-right">
            <a routerLink="/user-new" class="btn btn-mod btn-border btn-large">
              <i class="bi bi-plus-circle-fill"></i>
              <span> Add New User</span>
            </a>
          </div>
        </div>
      </div>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>Role</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td style="width: 220px">
              {{ user.firstName }} {{ user.lastName }}
            </td>
            <td style="width: 140px">{{ user.phoneNumber }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.role.text }}</td>
            <td
              [ngStyle]="{
                color: user.isDisabled ? inactiveColor : activeColor
              }"
            >
              {{ user.isDisabled ? "Inactive" : "Active" }}
            </td>

            <td class="text-center">
              <i
                class="bi bi-pencil-fill custom-hover"
                routerLink="/user-view/{{ user._id }}"
              ></i>

              <i
                class="bi bi-trash-fill delete-btn custom-hover"
                (click)="delete(user._id!)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
