<!--
 * Title: reset-password.component.html
 * Author: Professor Krasso
 * Modified By: Michael Christman, Zahava Gopin & Jennifer Hoitenga
 * Date: 11/29/2023
 * Sources:
 * BCRS Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/bcrs
 * Bootstrap: https://getbootstrap.com/docs/5.3/getting-started/introduction/
-->

<div class="form-container">
  <div class="container">
    <h3 class="text-center">Reset Password</h3>

    <!-- Display error message -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <!-- Success Message -->
    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>
  </div>

  <form
    id="msform"
    class="mb-5"
    [formGroup]="form"
    (ngSubmit)="resetPassword()"
    (keydown.enter)="$event.preventDefault()"
  >
    <!-- Step 3: Set New Password -->
    <fieldset>
      <h2 class="fs-title">New Password</h2>
      <h3 class="fs-subtitle">Step 3</h3>

      <!-- Password -->
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="New Password"
          formControlName="password"
          [class.is-invalid]="
            form.controls['password'].invalid &&
            form.controls['password'].touched
          "
        />
        <!-- Display error message for required field -->
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['password'].hasError('required') &&
            form.controls['password'].touched
          "
        >
          The password is required.
        </div>
        <!-- Display error message for password format -->
        <div
          class="invalid-feedback"
          *ngIf="
            form.controls['password'].hasError('pattern') &&
            form.controls['password'].touched
          "
        >
          Password must be at least 8 characters, contain one uppercase letter
          and one number.
        </div>
      </div>
      <!-- Submit button for setting the new password -->
      <input
        type="submit"
        [disabled]="!form.valid"
        class="btn btn-mod btn-border btn-circle btn-large"
        value="Reset Password"
      />
    </fieldset>
  </form>
</div>
