<!--
 * Title: home.component.html
 * Author: Michael Christman, Zahava Gopin & Jennifer Hoitenga
 * Date: 11/16/2023
 * Sources:
 * BCRS Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/bcrs
 * Bootstrap: https://getbootstrap.com/docs/5.3/getting-started/introduction/
-->

<!-- Hero Section -->
<section>
  <div class="container">
    <div class="row">
      <!-- Left Column - Text and Sign In Button -->
      <div class="col-md-6 mt-5">
        <div>
          <div class="text-label">Welcome to Bob's Computer Repair Shop!</div>
          <div class="text-hero-regular">
            Our exclusive platform simplifies the service repair request
            process, enabling you to focus on what you do best - delivering
            exceptional service.
          </div>
          <!-- Sign In Button -->
          <div>
            <a
              routerLink="/security/sign-in"
              class="btn btn-mod btn-border btn-circle btn-large mb-5"
            >
              GET STARTED<i class="bi bi-box-arrow-in-right signIcon"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Right Column - Image -->
      <div class="col-md-6 mb-2 mt-4">
        <img
          src="assets/landing.jpg"
          alt="Computer being repaired"
          class="d-none d-md-block rounded"
        />
      </div>
    </div>
  </div>
</section>
