<!--
 * Title: purchases-by-service.component.html
 * Modified By: Michael Christman, Zahava Gopin & Jennifer Hoitenga
 * Author: Professor Krasso
 * Date: 12/3/2023
 * Sources:
 * BCRS Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/bcrs
 * PrimeNG: https://primeng.org/chart
-->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 my-2">
      <div class="text-center mb-4">
        <h3>Purchases By Service</h3>
        <div class="pie mt-4">
          <p-chart type="pie" [data]="data"></p-chart>
        </div>
      </div>
    </div>
  </div>
</div>
